.cart {
	width: 25%;
	height: 100%;
	background-color: rgba(221, 220, 220, 0.534);
	padding: 20px;

	&__title {
		margin-top: 20px;
		color: gray;
	}

	&__item {
		width: 100%;
		height: 70px;
		margin: 7px 0;
		display: flex;

		&__img-wrapper {
			box-shadow: -2px 4px 6px -1px rgba(204,198,198,0.75);
			border: 1px solid rgba(128, 128, 128, 0.295);
			box-sizing: border-box;
			width: 70px;
			height: 100%;
			padding: 3px;	
			margin: 5px;
            border-radius: 4px;
		}

		&__img {
			width: 100%;
			height: 100%;
		}

		&__info {
			display: flex;
			flex-direction: column;
			margin: 8px;
            color: gray;
            font-size: 14px;
		}
	}

	&__list {
		display: flex;
		flex-direction: column;
	}

    &__price {
        margin: 7px 0;
    }

    &__value {
        color: gray;
        font-size: 14px;

        &__price {
            font-size: 13px;
            padding-left: 30%;
        }
    }
}

@media(max-width: 570px){
    .cart {
        width: 100%;
        height: 615px;
    }
}