.tab-content {
	width: 100%;
	height: 100%;
	padding: 10px 50px;
	color: rgba(130, 37, 76, 0.795);

	&__title {
		font-size: 18px;
		margin: auto;
		text-align: center;
		font-weight: bold;
	}

	&__status {
		font-size: 10px;
		font-weight: bold;
		cursor: pointer;

		&__img {
			box-shadow: -2px 4px 6px -1px rgba(204, 198, 198, 0.75);
			border-radius: 8px;
			transition: transform 0.2s;

			&:hover {
				transform: scale(1.1);
			}
		}

		> p:first-child {
			flex-wrap: wrap;
		}
	}

	&__occupation {
		margin-top: 1.5rem;
		width: 100%;
		display: flex;
		justify-content: space-evenly;
		align-items: flex-start;
	}

	&__salary {
		width: 100%;

		&__input-wrapper {
			box-shadow: 0px 1px 20px -9px rgba(0, 0, 0, 0.26);
			width: 86%;
			display: flex;
			margin-left: 36px;
			border-radius: 8px;
		}
	}

	&__loan {
		width: 100%;
	}

	&__loan-details {
		display: flex;
		box-shadow: 0px 1px 20px -9px rgba(0, 0, 0, 0.26);

		> div {
			display: flex;
			width: 50%;
			justify-content: center;

			input[type='radio'] {
				margin-right: 5px;
			}

			> span {
				margin-left: 5px;
			}
		}

		> div:first-child {
			border-right: 1px solid gray;
		}
	}

	input[type='radio'] {
		cursor: pointer;
		// width: 50%;
	}
}

.description {
	margin-left: 36px;
}

.currency-symbol {
	background-color: rgba(130, 37, 76, 0.795);
	color: white;
	text-align: center;
	padding: 7px;
	width: 9%;
}

.salary-input {
	width: 91%;
	border: none;
	outline: none;
	padding: 2px;
}

input[type='date'] {
	width: 100%;
	padding: 5px;
	border: none;
	color: rgba(130, 37, 76, 0.795);
}

.date {
	justify-content: space-between;
	padding: 8px;
	outline: none;
	cursor: pointer;
	color: rgba(130, 37, 76, 0.795);
}

.date-picker {
	border: none;
	color: rgba(130, 37, 76, 0.795);
}

.fa-fa-chevron-down {
	font-size: 13px;
}
