.App {
    width: 100%;
    height: 100%;
    display: flex;
}

.card {
    width: 100%;
    box-shadow: 5px 11px 15px -12px rgba(153,146,146,0.75);
    border-radius: 10px;
    outline: none;
    background-color: #ffff;
    padding: 10px;
}